/**
* Variables
*/
:root {
  --clr-white-100: white;
  --clr-white-200: #a7a7a7;

  --clr-black-100: rgb(0 0 0);
  --clr-black-200: rgb(10 10 10);
  --clr-black-300: rgb(20 20 20);
  --clr-black-400: rgb(30 30 30);
  --clr-black-500: rgb(40 40 40);

  --clr-green-100: #1ed760;

  --fs-300: .8125rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/**
* Reset
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  background-color: var(--clr-black-100);
  color: var(--clr-white-200);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

/**
* Utilities
*/
.global-link {
  text-decoration: none;
  color: inherit;
}

.global-list {
  list-style: none;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn {
  --bg-button: transparent;
  --clr-border: transparent;
  --clr-text: inherit;

  padding: .5em 2em;
  border: 1px solid var(--clr-border);
  border-radius: 100vmax;
  background: var(--bg-button);
  color: var(--clr-text);
  font: inherit;
}

.btn-outlined {
  --bg-button: transparent;
  --clr-border: var(--clr-white-200);
  --clr-text: var(--clr-white-100);
  padding: .25em 1em;
  align-self: flex-start;
  font-size: inherit;
  display: flex;
  align-items: center;
  gap: .25em;
}

.btn-secondary {
  --bg-button: transparent;
  --clr-border: transparent;
  --clr-text: inherit;
}

.btn-primary {
  --bg-button: var(--clr-white-100);
  --clr-border: transparent;
  --clr-text: var(--clr-black-100);
}

.btn-rounded {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-black-100);
  border: 0;
  border-radius: 50%;
  color: var(--clr-white-100);
}

.btn-menu {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  z-index: 1000;
  background-color: transparent;
  border: 0;
  color: var(--clr-white-200);
  font-size: 1.5rem;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-secondary:hover {
  --clr-text: var(--clr-white-100);
}

.btn-outline:hover {
  --clr-border: var(--clr-var(--clr-white-100)-200);
  --clr-text: var(--clr-white-100);
}

/**
* Primary Nav
*/
.primary-nav {
  grid-area: nav;
  background-color: var(--clr-black-100);
}

.primary-nav .container {
  display: flex;
  height: 100%;
}

.logo svg {
  width: 8rem;
  fill: var(--clr-white-100);
}

.logo img {
  width: 2rem;
  height: 2rem;
  display: none;
}

.primary-nav-list {
  display: flex;
  gap: 1rem;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.primary-nav-list:last-of-type .primary-nav-icon {
  border-radius: .15rem;
  padding: .25rem;
  display: grid;
  place-items: center;
}

.primary-nav-list:last-of-type .bg-offwhite {
  background-color: var(--clr-white-200);
}

.primary-nav-list:last-of-type .bg-offwhite svg {
  fill: var(--clr-black-200);
}

.primary-nav-list:last-of-type .bg-gradient {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

.primary-nav-list:last-of-type .bg-gradient svg {
  fill: var(--clr-white-100);
}

.primary-nav-list:last-of-type .primary-nav-icon svg {
  width: 15px;
  height: 15px;
}

.primary-nav-link {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.primary-nav-link:hover {
  text-decoration: underline;
}

.primary-nav-link[data-selected="true"] {
  color: var(--clr-white-100);
}

.primary-nav-icon svg {
  display: grid;
  fill: var(--clr-white-200);
  width: 24px;
  height: 24px;
}

.primary-nav-link:hover .primary-nav-icon svg,
.btn-outlined svg {
  fill: var(--clr-white-100);
}

.primary-nav-link[data-selected="true"] .primary-nav-icon svg {
  fill: var(--clr-white-100);
}

.cookies-text {
  font-size: 11px;
}

.btn-open-in-app {
  font-weight: 600;
  font-size: var(--fs-300);
  text-transform: uppercase;
  display: none;
}

/**
* Secondary Nav
*/
.secondary-nav {
  grid-area: header;
  background-color: var(--clr-black-200);
  font-weight: 600;
}

.secondary-nav .container {
  position: fixed;
  background-color: var(--clr-black-200);
  display: flex;
  gap: 1rem;
  z-index: 500;
}

.secondary-nav-list {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.secondary-nav-link {
  letter-spacing: 2px;
}

.secondary-nav-btns {
  display: flex;
  gap: 1rem;
}

.primary-nav-link:hover,
.secondary-nav-link:hover {
  color: var(--clr-white-100);
}

.secondary-nav-link:hover {
  display: inline-block;
  transform: scale(1.1);
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 100vmax;
  overflow: hidden;
  background-color: var(--clr-white-100);
  margin-right: 2rem;
}

.search-bar .fa-search {
  padding-left: 1em;
}

.search-bar-input {
  outline: none;
  background-color: transparent;
  padding: 1em;
  border: 0;
  width: 100%;
  height: 100%;
}

/**
* Main Content
*/
.main-content {
  grid-area: main;
  background-color: var(--clr-black-300);
  overflow-x: hidden;
}

.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.section .container>*+* {
  margin-top: 1rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  color: var(--clr-white-100);
  font-size: 1.5rem;
  text-transform: capitalize;
}

.section-header a {
  font-size: .8125rem;
  font-weight: 600;
}

.section-title:hover,
.section-header a:hover {
  text-decoration: underline;
  color: var(--clr-white-100);
}

.grid-playlist,
.grid-playlist-flexible {
  --column-width: 140px;
  --columns: 5;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--columns), minmax(var(--column-width), 1fr));
  overflow-x: scroll;
}
.grid-playlist-flexible {
  --column-width: min(100%, 140px);
  --columns: auto-fit;
}

.grid-playlist::-webkit-scrollbar {
  display: none;
}

.playlist-card {
  position: relative;
  padding: 0 0 1rem;
  border-radius: .25rem;
}

.playlist-card>*+* {
  margin-top: .75rem;
}

.playlist-card img {
  border-radius: .25rem;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
  box-shadow: 0 8px 24px rgb(0 0 0 / .5);
}

.playlist-card h3 {
  color: var(--clr-white-100);
  font-size: 1rem;
}

.playlist-card p {
  font-size: .875rem;
  display: none;
}

.song-play-icon {
  position: absolute;
  top: calc(50% - 1.5rem);
  right: 1.5rem;
  background-color: var(--clr-green-100);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: var(--clr-black-100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 0;
}

.playlist-card:hover {
  background: var(--clr-black-500);
  cursor: pointer;
}

.playlist-card:hover .song-play-icon {
  opacity: 1;
}

.song-play-icon:hover {
  transform: scale(1.1);
}

.btn-prev,
.btn-next {
  position: absolute;
  top: calc(50% - 1.5rem);
  z-index: 100;
  cursor: pointer;
}

.btn-prev {
  left: .75rem;
}

.btn-next {
  right: .75rem;
}

.grid-categories {
  --columns: auto-fit;
  --column-width: 140px;

  display: grid;
  gap: 1rem;
  grid-template-columns: 
    repeat(var(--columns), 
    minmax(min(100%, var(--column-width)), 1fr));
}

.category-card {
  background-color: var(--clr-green-100);
  border-radius: .25rem;
  padding: 1rem;
}

.category-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-white-100);
  line-height: 1.1;
}

hr {
  margin: 4rem 2rem;
  opacity: .1;
}

.modal {
  --clr-modal: #450af5;
  background-color: var(--clr-modal);
  padding: 1.25rem;
  position: absolute;
  left: 14rem;
  max-width: 20rem;
  border-radius: .5rem;
  color: var(--clr-white-100);
  display: none;
  z-index: 200;
}

.modal::before {
  content: '';
  position: absolute;
  border: 1rem solid transparent;
  border-right-color: var(--clr-modal);
  left: -2rem;
}

.modal > * + * {
  margin-top: .75rem;
}

.modal .btn {
  font-size: .875rem;
  font-weight: 600;
}

.modal-btns {
  display: flex;
  justify-content: flex-end;
}

/**
* Accessibilty
*/
.visually-hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--clr-green-100);
  outline-offset: 2px;
}

.category-card[data-variant="1"] {
  background-color: rgb(39, 133, 106);
}
.category-card[data-variant="2"] {
  background-color: rgb(30, 50, 100);
}
.category-card[data-variant="3"] {
  background-color: rgb(141, 103, 171);
}
.category-card[data-variant="4"] {
  background-color: rgb(232, 17, 91);
}
.category-card[data-variant="5"] {
  background-color: rgb(232, 17, 91);
}
.category-card[data-variant="6"] {
  background-color: rgb(240, 55, 165);
}
.category-card[data-variant="7"] {
  background-color: rgb(20, 138, 8);
}
.category-card[data-variant="8"] {
  background-color: rgb(235, 30, 50);
}
.category-card[data-variant="9"] {
  background-color: rgb(245, 155, 35);
}

/**
* Breakpoints
*/
@media (min-width: 768px) {
  body {
    grid-template-columns: 15rem auto;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "nav header"
      "nav main";
  }

  .primary-nav .container,
  .primary-nav-list {
    flex-direction: column;
  }

  .primary-nav .container {
    gap: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15rem;
  }

  .mobile-search-bar {
    display: none;
  }

  .cookies-text {
    margin-top: auto;
  }

  .secondary-nav {
    background-color: var(--clr-black-200);
  }

  .secondary-nav .container {
    top: 0;
    right: 0;
    width: calc(100% - 15rem);
  }

  .secondary-nav-btns:last-of-type {
    gap: .5rem;
    padding-left: .5rem;
  }

  .grid-playlist,
  .grid-categories {
    --column-width: 170px;
  }

  .grid-playlist-flexible {
    --column-width: min(100%, 170px);
  }

  .category-card {
    aspect-ratio: 1;
  }

  .search-bar {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .btn-menu {
    display: none;
  }

  .secondary-nav .container {
    align-items: center;
    width: calc(100% - 15rem);
    height: 4rem;
  }

  .secondary-nav-list {
    display: flex;
    margin-left: auto;
    padding-right: 2rem;
    border-right: 1px solid var(--clr-white-100);
  }

  .playlist-card {
    background: linear-gradient(rgb(15 15 15), rgb(30 30 30));
    padding: 1rem;
  }

  .playlist-card p {
    display: block;
  }

  .search-bar {
    flex: 1;
  }
}

@media (max-width: 767px) {
  body {
    grid-template-rows: 4rem 0 auto;
    grid-template-areas:
      "nav"
      "header"
      "main";
  }

  .primary-nav .container {
    align-items: center;
  }

  .logo svg {
    display: none;
  }
  .logo img {
    display: block;
  }

  .primary-nav-text {
    display: none;
  }

  .primary-nav-list {
    margin-left: auto;
  }

  .primary-nav-link:not(.search) {
    display: none;
  }

  .btn-open-in-app {
    display: block;
    margin-right: 3rem;
  }

  .primary-nav-list:last-of-type,
  .cookies-text,
  .btn-outlined,
  .search-bar:not(.mobile-search-bar) {
    display: none;
  }

  .mobile-search-bar {
    flex: 1;
  }

  .category-card {
    height: 7rem;
  }
}

@media (max-width: 991px) {
  .secondary-nav .container {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 25rem;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0;
    transition: transform .3s ease-in-out;
  }

  .secondary-nav-list {
    font-size: 1.25rem;
    padding: 1.5rem 0 0 0;
  }

  .secondary-nav > .container,
  .secondary-nav-list,
  .secondary-nav-btns {
    align-items: flex-start;
    width: 100%;
  }

  .secondary-nav-btns:last-of-type {
    padding: 0 0 1.5rem;
    border-bottom: 1px solid rgb(255 255 255 / .15);
  }

  .secondary-nav-btns:last-of-type .btn {
    --bg-button: unset;
    --clr-text: var(--clr-white-200);
    padding: 0;
    font-size: 1.5rem;
  }

  .secondary-nav[data-expanded="false"] .container {
    transform: translateX(100%);
  }

  .secondary-nav[data-expanded="true"] .container {
    transform: translateX(0);
  }

  .secondary-nav-list,
  .secondary-nav-btns {
    flex-direction: column;
  }

  .secondary-nav-btns:first-of-type {
    display: none;
  }

  .playlist-card {
    text-align: center;
  }

  a.btn-rounded {
    display: none;
  }
}
@media (992px < width < 1200px) {
  .secondary-nav:has(.search-bar) .secondary-nav-list {
    display: none;
  }
}

@media (max-width: 576px) {
  .btn-prev,
  .btn-next { display: none; }
}

.song-header {
  padding: 1rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-size: 300%;
  animation: vibing-bg 2s linear infinite alternate-reverse;
  min-height: 10rem;
  text-transform: capitalize;
  font-size: clamp(1.75rem, 5vw + .5rem, 2.5rem);
  display: flex;
  align-items: flex-end;
  line-height: 1;
  color: var(--clr-white-100);
}

.song {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid rgb(200 200 200 / .15);
  text-transform: capitalize;
  padding: .5rem 2rem;
}

.song.active {
  background-color: rgb(25 25 25);
}

.song-name {
  flex-grow: 1;
  font-weight: 600;
}

.song-artist,
.song-duration {
  min-width: 85px;
  width: 20%;
}

#song-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#song-player audio {
  width: 100%;
}

/**
* Audio player and controls
*/

.song-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #111;
  display: flex;
  gap: .5rem;
  align-items: center;
  color: #ddd;
}

.song-details,
.song-controls-primary {
  width: 100%;
}

@media (max-width: 576px) {
  .song-player {
    flex-direction: column;
    text-align: center;
  }
  .song-controls-secondary {
    display: none;
  }
}
@media (min-width: 576px) {
  .song-details,
  .song-controls-secondary {
    width: 30%;
    max-width: 15rem;
  }
}

.song-details h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}

.song-details p {
  font-size: .95rem;
}

.song-controls-primary {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.btn-wrapper {
  display: flex;
  gap: .25rem;
  justify-content: center;
  align-items: center;
}

.btn-song-control {
  --btn-border: none;
  --btn-color: white;
  --btn-background: transparent;

  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: var(--btn-border);
  border-radius: 50%;
  background-color: var(--btn-background);
  color: var(--btn-color);
}

.song-player img {
  filter: invert(1);
}

.btn-song-control img {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.btn-play-pause {
  --btn-border: 1px solid white;
  --btn-color: white;
  --btn-background: transparent;
}

.song-player .btn-play-pause img[alt="pause"],
.song-player.play .btn-play-pause img[alt="play"] {
  display: none;
}

.song-player .btn-play-pause img[alt="play"],
.song-player.play .btn-play-pause img[alt="pause"] {
  display: block;
}

.song-timeline-wrapper {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.song-timeline {
  --current-time: 0;

  position: relative;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(255 255 255 / .5);
  border-radius: 100vmax;
}

.song-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--current-time);
  background-color: #1ed760;
  border-radius: 100vmax;
}

.song-controls-secondary .song-volume {
  display: flex;
  align-items: center;
}

.song-controls-secondary .song-volume > * {
  width: 100%;
}

.song-controls-secondary .song-volume img {
  width: 35px;
  height: 35px;
}

.song-volume > input[type=range] {
  height: 37px;
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
}

.song-volume > input[type=range]:focus {
  outline: none;
}

.song-volume > input[type=range]::-webkit-slider-runnable-track {
  position: relative;
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(45deg, #A5C6EA var(--volume, 0%), var(--clr-black-500) var(--volume, 0%));
  border-radius: 5px;
  border: none;
}

.song-volume > input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #A5C6EA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.song-volume > input[type=range]::-webkit-slider-thumb:hover {
  background-color: #fff;
}

.song-volume > input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(45deg, #A5C6EA var(--volume, 0%), var(--clr-black-500) var(--volume, 0%));
  border-radius: 5px;
  border: none;
}

.song-volume > input[type=range]::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #A5C6EA;
  cursor: pointer;
}

.song-volume > input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.song-volume > input[type=range]::-ms-fill-lower {
  background: #A5C6EA;
  border: none;
  border-radius: 10px;
}

.song-volume > input[type=range]::-ms-fill-upper {
  background: #A5C6EA;
  border: none;
  border-radius: 10px;
}

.song-volume > input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #A5C6EA;
  cursor: pointer;
}

.song-volume > input[type=range]:focus::-ms-fill-lower {
  background: #A5C6EA;
}

.song-volume > input[type=range]:focus::-ms-fill-upper {
  background: #A5C6EA;
}